:root {
  --main-text-color: #495867;
  --bg-color: #f7f7ff;
}
#data-66 {
  background-color: var(--bg-color);
  color: var(--main-text-color);
}

#data-66 h2 {
  font-family: 'Dancing Script', cursive;
}
