:root {
  --main-text-color: #012169;
  --title-text-color: #009739;
  --middle-text-color: #fedd00;
  --bg-color: #ffffff;
}
#data-75 {
  background-color: var(--bg-color);
  color: var(--main-text-color);
}

#data-75 .li-title,
#data-75 .page-title {
  color: var(--title-text-color);
}

#data-75 .middle-title {
  color: var(--middle-text-color);
}
