@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&display=swap');

#data-56 {
  --main-color: #393939;
  --main-text-color: #1d428a;
  --gradient-text-color: #396ace;
  background-color: #f7f7f7;
  color: var(--main-color);
  background: linear-gradient(184deg, #f7f7f7 0%, #cddeff 100%);
}

#data-56 {
  color: var(--main-color);
}

#data-56 h2 {
  font-family: 'Dancing Script', cursive;
}

#data-56 h2,
#data-56 h1,
#data-56 span,
#data-56 h3 {
  color: var(--main-text-color);
}

#data-56 span {
  font-weight: 600;
}

#data-56 h1,
#data-56 h3 {
  color: transparent;
  background: linear-gradient(
    to left,
    var(--main-text-color),
    var(--gradient-text-color)
  );
  background-size: 1000px 100%;
  animation: bg 15s linear infinite;
  background-clip: text;
  -webkit-background-clip: text;
}

#data-56 .stats-percentage {
  height: 250px;
}

#data-56 .stats-radar {
  height: 500px;
}

#data-56 .background {
  position: fixed;
  top: -1000px;
  left: -519px;
  right: 0;
  bottom: 0;
  font-family: Cabin Sketch;
  font-size: 120px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100vh;
  width: 150vw;
  opacity: 0.1;
  transform: rotate(327deg);
}

#data-56 .logo-background {
  background: url('/nba/big/GSW.svg') no-repeat;
  position: fixed;
  top: 0;
  opacity: 0.1;
}

@keyframes bg {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 10000px;
  }
}
@-webkit-keyframes bg {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 10000px;
  }
}
