:root {
  --main-text-color: #000000;
  --title-text-color: #a50044;
  --middle-text-color: #004d98;
  --bg-color: #f0ece5;
}
#data-67 {
  background-color: var(--bg-color);
  color: var(--main-text-color);
}

#data-67 h2 {
  font-family: 'Dancing Script', cursive;
}

#data-67 .li-title,
#data-67 .page-title {
  color: var(--title-text-color);
}

#data-67 .middle-title {
  color: var(--middle-text-color);
}
