:root {
  --main-text-color: #002d72;
  --title-text-color: #046a38;
  --middle-text-color: #da291c;
  --bg-color: #f0ece5;
}
#data-7 {
  background-color: var(--bg-color);
  color: var(--main-text-color);
}

#data-7 h2 {
  font-family: 'Dancing Script', cursive;
}

#data-7 .li-title,
#data-7 .page-title {
  color: var(--title-text-color);
}

#data-7 .middle-title {
  color: var(--middle-text-color);
}
