:root {
  --main-color: #393939;
  --main-text-color: #364f6b;
  --gradient-text-color: #4e749e;
  --gradient-bg-color: #250247;
  --bg-color: #e9feff;
}
#data-62 {
  background-color: var(--bg-color);
  color: var(--main-color);
  background: linear-gradient(184deg, #f5f5f5 0%, #e9feff 100%);
}

#data-62 {
  color: var(--main-color);
}

#data-62 h2 {
  font-family: 'Dancing Script', cursive;
}

#data-62 h2,
#data-62 h1,
#data-62 h3 {
  color: var(--main-text-color);
}

#data-62 h1,
#data-62 h3 {
  color: transparent;
  background: linear-gradient(
    to left,
    var(--main-text-color),
    var(--gradient-text-color)
  );
  background-size: 1000px 100%;
  animation: bg 20s linear infinite;
  background-clip: text;
  -webkit-background-clip: text;
}
