:root {
  --main-text-color: #291720;
  --bg-color: #fcf5ed;
}
#data-84 {
  background-color: var(--bg-color);
  color: var(--main-text-color);
}

#data-84 h2 {
  font-family: 'Dancing Script', cursive;
}

#data-84 .select_transparent__control {
  background: transparent;
  border: none;
  box-shadow: none;
  padding-right: 0;
  margin-right: 0;
}

#data-84 .select_transparent__single-value {
  color: var(--main-text-color);
  font-weight: bold;
}

#data-84 .select_transparent__dropdown-indicator {
  color: var(--main-text-color);
}

#data-84 .select_transparent__option {
  font-size: 20px;
}
