:root {
  --main-text-color: #10002b;
  --bg-color: #f8f9fa;
}
#data-76 {
  background-color: var(--bg-color);
  color: var(--main-text-color);
}

#data-76 h2 {
  font-family: 'Dancing Script', cursive;
}
