.marvel {
  left: 0;
  background-size: cover;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  filter: grayscale(1);
  opacity: 0.3;
}

.marvel > .content {
  background: url(/marvel.gif) no-repeat center center fixed;
  background-size: cover;
  width: 100%;
  height: 100%;
}
