:root {
  --main-text-color: #495867;
  --bg-color: #f7f7ff;
}
#data-47 {
  background-color: var(--bg-color);
  color: var(--main-text-color);
}

#data-47 h2 {
  font-family: 'Dancing Script', cursive;
}
