:root {
  --main-text-color: #0d0628;
  --bg-color: #fffbfc;
}
#data-61 {
  background-color: var(--bg-color);
  color: var(--main-text-color);
}

#data-61 h2 {
  font-family: 'Dancing Script', cursive;
}
