#data-8 {
  --main-text-color: #084c61;
  --bg-color: #f0efeb;
  background-color: var(--bg-color);
  color: var(--main-text-color);
}

#data-8 h2 {
  font-family: 'Dancing Script', cursive;
}

#data-8 .select_transparent__control {
  background: transparent;
  border: none;
  box-shadow: none;
  padding-right: 0;
  margin-right: 0;
}

#data-8 .select_transparent__single-value {
  color: var(--main-text-color);
  font-weight: bold;
}

#data-8 .select_transparent__dropdown-indicator {
  color: var(--main-text-color);
}

#data-8 .select_transparent__option {
  font-size: 20px;
}
