:root {
  --main-text-color: #4f6f52;
  --bg-color: #eef0e5;
}
#data-54 {
  background-color: var(--bg-color);
  color: var(--main-text-color);
}

#data-54 .ant-table {
  background: transparent;
  border: 1px solid var(--main-text-color);
}
#data-54 .ant-table-cell {
  font-weight: 500;
}

#data-54 .ant-table-row-expand-icon {
  background: transparent;
}

#data-54 .ant-table-thead {
  z-index: 9;
  position: sticky;
  top: 0;
  opacity: 1;
}
