:root {
  --main-text-color: #012a4a;
  --bg-color: #f0efeb;
}
#data-41 {
  background-color: var(--bg-color);
  color: var(--main-text-color);
}

#data-41 h2 {
  font-family: 'Dancing Script', cursive;
}
