:root {
  --main-color: #393939;
  --main-text-color: #cc0000;
  --gradient-text-color: #f11435;
  --gradient-bg-color: #250247;
  --bg-color: #fbeaec;
}

#data-4 {
  background-color: var(--bg-color);
  color: var(--main-color);
  background: linear-gradient(184deg, #f7f7f7 0%, #fbeaec 100%);
}

#data-4 {
  color: var(--main-color);
}

#data-4 h2,
#data-4 h1,
#data-4 h3 {
  color: var(--main-text-color);
}

#data-4 h1,
#data-4 h3 {
  color: transparent;
  background: linear-gradient(
    to left,
    var(--main-text-color),
    var(--gradient-text-color)
  );
  background-size: 1000px 100%;
  animation: bg 15s linear infinite;
  background-clip: text;
  -webkit-background-clip: text;
}
