:root {
  --main-text-color: #3c3633;
  --bg-color: #eeedeb;
}
#data-32 {
  background-color: var(--bg-color);
  color: var(--main-text-color);
}

#data-32 h2 {
  font-family: 'Dancing Script', cursive;
}

#data-32 .select_transparent__control {
  background: transparent;
  border: none;
  box-shadow: none;
  padding-right: 0;
  margin-right: 0;
}

#data-32 .select_transparent__single-value {
  color: var(--main-text-color);
  font-weight: bold;
}

#data-32 .select_transparent__dropdown-indicator {
  color: var(--main-text-color);
}

#data-32 .select_transparent__option {
  font-size: 20px;
}
