:root {
  --main-text-color: #002b5c;
  --bg-color: #f0f0f0;
}
#data-118 {
  background-color: var(--bg-color);
  color: var(--main-text-color);
}

#data-118 .select_transparent__control {
  background: transparent;
  border: none;
  box-shadow: none;
  padding-right: 0;
  margin-right: 0;
}

#data-118 .select_transparent__single-value {
  color: var(--main-text-color);
  font-weight: bold;
}

#data-118 .select_transparent__dropdown-indicator {
  color: var(--main-text-color);
}

#data-118 .select_transparent__option {
  font-size: 20px;
}
